name: mygoatmanager
description: "Goat Manager App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any  
  shared_preferences: ^2.2.2
  cupertino_icons: ^1.0.8
  image_picker: ^1.0.7
  pdf: ^3.11.3
  printing: ^5.14.2
  fl_chart: ^0.66.2
  share_plus: ^7.2.1
  path_provider: ^2.1.3
  http: ^1.1.0 
  google_sign_in: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true
  
  assets:
    - assets/images/